.related-section {
  padding: 60px 0px;
  width: 100%;
  overflow: hidden;

  @media (min-width: $m) {
    padding: 80px 0px;
  }

  .container {
    padding: 0;

    @media (min-width: $m) {
      padding: 0 20px;
    }

    .title {
      padding: 0px 40px;

      @media (min-width: $m) {
        padding: 0;
      }
    }
  }
  .divider {
    margin: 40px auto 30px 40px;

    @media (min-width: $m) {
      margin: 40px auto 50px 0px;
    }
  }

  .related-list {
    list-style: none;
    margin: 0;
    padding: 30px 0 30px 40px;
    display: flex;
    overflow: scroll;
    width: 100%;

    @media (min-width: $m) {
      padding: 0px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 40px;
      row-gap: 40px;
      overflow: visible;
    }

    &:after {
      content: "";
      -ms-flex: 0 0 20px;
      flex: 0 0 20px;
    }

    .item {
      flex-shrink: 0;
      margin-right: 30px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      overflow: hidden;
      width: 100%;
      max-width: 320px;

      @media (min-width: $m) {
        max-width: none;
        flex-shrink: 1;
        max-width: none;
        margin: 0;
      }

      &-thumb {
        margin-bottom: 0;
        width: 100%;
      }

      &-title,
      &-description,
      &-link {
        padding: 0 15px;
        @media (min-width: $m) {
          padding: 0 30px;
        }
      }

      &-title {
        font-size: 1.1rem;
        font-weight: bold;
        margin: 10px 0 10px;
      }

      &-description {
        font-size: 0.9rem;
        color: $gray-5;
        margin: 10px 0 10px;
        line-height: 1rem;
      }

      &-link {
        display: inline-block;
        margin: 5px 0 20px;
        text-decoration: none;
        font-weight: bold;
        color: $blue-2;

        > svg {
          margin-left: 5px;
          color: $blue-2;
        }
      }
    }
  }
}
