.ourpillars-section {
  padding: 50px 0px 80px;
  position: relative;
  margin-bottom: 80px;

  &:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 50%;
    background: $gray-2;
    bottom: 0;
  }

  .container {
    > .title {
      text-align: center;
    }

    .divider {
      margin: 0 auto 100px;
    }
  }

  .pillars-list {
    margin: 0;

    @media (min-width: $m) {
      display: flex;
    }

    .item {
      background-color: $blue-2;
      overflow: hidden;
      margin: 30px 0px;
      width: 100%;
      height: auto;
      padding: 50px 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      border-radius: 16px;
      color: white;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

      @media (min-width: $m) {
        width: 33.3%;
        height: 426px;
        margin: 0 20px;
      }

      .icon {
        width: 72px;
        margin-bottom: 40px;
      }

      .title {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        margin-bottom: 20px;
        
      }

      .description {
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.2rem;
        min-height: 70px;
      }
    }
  }
}