.aside {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 40px 20px 80px 20px;
  
  @media (min-width: $m) {
    padding: 0 180px 0 0;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 0;
    top: 0;
    background: $gray-2;
    z-index: -1;

    @media (min-width: $m) {
      width: 50vw;
      height: 100%;
      right: 30px;
      top: 0;
    }
  }

  .title {
    font-family: "Playfair Display", serif;
    font-weight: 500;
  }

  .subtitle {
    margin-bottom: 10px;
    color: $blue-2;
    font-weight: bold;
  }

  .description {
    font-size: 0.9rem;
  }
}
