.success {
  .hero-content {
    height: 340px;

    .title {
      font-size: 2.7rem;
    }

    .description {
      max-width: 900px;
      font-size: 0.9rem;
      line-height: 1.3em;
    }
  }
}
