// Colors
$blue-1: #0a132c;
$blue-2: #006BD0;
$blue-3: #D1DEFD;
$green-1: #00ba82;

$gray-1: #f3f5f9;
$gray-2: #FAFAFB;
$gray-3: #D8D8D8;
$gray-4: #535353;
$gray-5: #757575;
$gray-6: #D3DCE3;
$gray-7: #9DA1AB;

// Breakpoints
$m: 992px;
