.container {
  position: relative;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.article {
  padding: 80px 20px;
  max-width: 940px;
  margin: 0 auto;

  p {
    line-height: 1.8;
  }
}

.section {
  > .container {
    .title {
      font-family: "Playfair Display", serif;
      font-weight: normal;
      font-size: 1.8rem;
    }
  }
}