.menu-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-right: 8px;
  margin-left: auto;
  position: relative;
  z-index: 10;
  width: 25px;
  height: 25px;

  @media (min-width: $m) {
    display: none;
  }

  span {
    background-color: ghostwhite;
    width: 25px;
    height: 2px;
    margin: 2px 0;
    display: block;
    transition: all 0.4s ease;
    transform-origin: 0 0;
  }
  
  &.-is-opened {
    span:nth-child(1) {
      transform: rotate(45deg) translate(0px, -4px);
    }
    span:nth-child(2) {
      transform: scaleX(0);
    }

    span:nth-child(3) {
      transform: rotate(-45deg) translate(-1px, 3px);
    }
  }
}
