.hire {
  width: 100vw;
  height: calc(100vh - 56px);
  .container {
    display: flex;
    height: 100%;
    width: calc(100vw - 26vw);
    max-width: none;
    padding: 0;

    > .holder {
      width: 50%;
      height: 100%;
      background-color: red;
      padding: 30px;
      display: flex;
      align-items: center;
    }
  }
}
